/* CABEÇALHO */

.header-bg {
    background-color: var(--c100);
    padding: 1.5rem 0rem;
}

.header {
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 2.5rem;
}

/* RESPONSIVO - CABEÇALHO*/

@media (max-width: 720px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        justify-items: center;
        padding-top: 3rem;
        padding-bottom: 1.5rem;
    }

    .menu {
        gap: 0.75rem;
        justify-content: center;
    }
}
