/* TONS DE CINZA */

:root {
    --c00: #ffffff;
    --c05: #f6f6f6;
    --c10: #ededed;
    --c20: #dadada;
    --c30: #c6c6c6;
    --c40: #b2b2b2;
    --c50: #9d9d9d;
    --c60: #878787;
    --c70: #706f6f;
    --c80: #575757;
    --c90: #3c3c3c;
    --c99: #202020;
    --c100: #000000;
}

/* PALETA DE CORES */

:root {
    --p1: #ffbb00;
    --p2: #e4a30b;
    --p3: #a66f00;
    --p4: #664400;
    --p5: #332200;
}
