/* CONTAINERS */

.container {
    box-sizing: border-box;
    padding: 0rem 2rem;
    margin: 0 auto;
    max-width: 80rem;
}

.container-2 {
    box-sizing: border-box;
    padding: 0rem 2rem;
    margin: 0 auto;
    max-width: 90rem;
}

/* TÍTULOS INTERNOS */

.titulo-bg {
    background-color: var(--c99);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.titulo p {
    margin-bottom: 0.25rem;
}

/* RESPONSIVO - TITULOS INTERNOS */

@media (max-width: 1280px) {
    .titulo h1 {
        font: var(--poppins-48b);
    }

    .titulo p {
        font: var(--roboto-20b);
    }
}

@media (max-width: 960px) {
    .titulo-bg {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .titulo h1 {
        font: var(--poppins-40b);
    }

    .titulo p {
        font: var(--roboto-18b);
    }
}

@media (max-width: 720px) {
    .titulo-bg {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .titulo h1 {
        font: var(--poppins-32b);
    }

    .titulo p {
        font: var(--roboto-16b);
    }
}
