/* TIPOGRAFIA */

/* POPPINS - REGULAR */

:root {
    --poppins-64: 400 4rem/1.2 "Poppins", sans-serif;
    --poppins-32: 400 2rem/1.3 "Poppins", sans-serif;
    --poppins-24: 400 1.5rem/1.5 "Poppins", sans-serif;
    --poppins-18: 400 1.125rem/1.3 "Poppins", sans-serif;
    --poppins-16: 400 1rem/1.5 "Poppins", sans-serif;
    --poppins-14: 400 0.875rem/1.4 "Poppins", sans-serif;
    --poppins-12: 400 0.75rem/1.3 "Poppins", sans-serif;
}

/* POPPINS - SEMIBOLD */

:root {
    --poppins-64b: 600 4rem/1.2 "Poppins", sans-serif;
    --poppins-32b: 600 2rem/1.3 "Poppins", sans-serif;
    --poppins-24b: 600 1.5rem/1.5 "Poppins", sans-serif;
    --poppins-18b: 600 1.125rem/1.3 "Poppins", sans-serif;
    --poppins-16b: 600 1rem/1.5 "Poppins", sans-serif;
    --poppins-14b: 600 0.875rem/1.4 "Poppins", sans-serif;
    --poppins-12b: 600 0.75rem/1.3 "Poppins", sans-serif;
}

/* ROBOTO - REGULAR */

:root {
    --roboto-24: 400 1.5rem/1.5 "Roboto", sans-serif;
    --roboto-18: 400 1.125rem/1.3 "Roboto", sans-serif;
    --roboto-16: 400 1rem/1.5 "Roboto", sans-serif;
    --roboto-14: 400 0.875rem/1.4 "Roboto", sans-serif;
    --roboto-12: 400 0.75rem/1.3 "Roboto", sans-serif;
}

/* ROBOTO - SEMIBOLD */

:root {
    --roboto-24: 600 1.5rem/1.5 "Roboto", sans-serif;
    --roboto-18: 600 1.125rem/1.3 "Roboto", sans-serif;
    --roboto-16: 600 1rem/1.5 "Roboto", sans-serif;
    --roboto-14: 600 0.875rem/1.4 "Roboto", sans-serif;
    --roboto-12: 600 0.75rem/1.3 "Roboto", sans-serif;
}
