.parceiros-container {
    display: grid;
    box-sizing: border-box;
    padding: 4rem 1.25rem;
    max-width: 80rem;
    margin: 0 auto;
}

.parceiros-container h2 {
    font: var(--poppins-64b);
    color: var(--c99);
}

.parceiros-container h2 span {
    color: var(--p1);
}

.parceiros ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 8rem;
    padding: 0 1.25rem;
}

.parceiros img {
    margin: auto;
}

.parceiros li {
    display: flex;
    padding: 2rem;
    border-left: 2px solid var(--c10);
}

.parceiros li:first-child,
.parceiros li:nth-child(5) {
    border-left: none;
}

.parceiros li:nth-child(n + 5) {
    border-top: 2px solid var(--c10);
}

/* RESPONSIVO PARCEIROS */

@media (max-width: 1280px) {
    .parceiros-container {
        padding: 4rem 2.5rem;
    }

    .parceiros-container h2 {
        font-size: 3rem;
        line-height: 1;
    }
}

@media (max-width: 900px) {
    .parceiros-container {
        padding-bottom: 0rem;
    }

    .parceiros-container h2 {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }
}

@media (max-width: 800px) {
    .parceiros-container {
        padding: 4rem 1.25rem 0rem 1.25rem;
    }

    .parceiros-container h2 {
        font: var(--poppins-32b);
        margin-bottom: 2rem;
    }

    .parceiros ul {
        grid-template-columns: repeat(2, 1fr);
        max-width: 1440px;
        margin: 0 auto;
        margin-bottom: 4rem;
        padding: 0 1.25rem;
    }

    .parceiros li:nth-child(odd) {
        border-left: none;
    }

    .parceiros li:nth-child(3),
    .parceiros li:nth-child(4) {
        border-top: 2px solid var(--c10);
    }
}
