.page {
    padding-top: 0rem;
}

/* VANTAGENS */

.vantagens-bg {
    background-color: var(--c100);
}

.vantagens {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.vantagens h2 {
    margin-bottom: 6rem;
}

.vantagens ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.vantagens img,
.vantagens h3 {
    margin-bottom: 0.5rem;
}

/* RESPONSIVO VANTAGENS */

@media (max-width: 1280px) {
    .vantagens h2 {
        font: var(--poppins-48b);
    }
}

@media (max-width: 960px) {
    .vantagens {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .vantagens h2 {
        font: var(--poppins-40b);
        margin-bottom: 4rem;
    }

    .vantagens h3 {
        font: var(--poppins-20);
    }

    .vantagens p {
        font: var(--roboto-16);
    }
}

@media (max-width: 720px) {
    .vantagens h2 {
        font: var(--poppins-32b);
    }

    .vantagens ul {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .vantagens h3 {
        font: var(--poppins-18);
    }

    .vantagens p {
        font: var(--roboto-14);
    }
}

/* PERGUNTAS */

.perguntas {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.perguntas h2 {
    margin-bottom: 5rem;
}

.perguntas dl > div {
    padding: 1.25rem;
    border-radius: 5px;
}

.perguntas dl > div:nth-child(odd) {
    background-color: var(--c05);
}

.perguntas dt {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
}

.perguntas dt::before {
    content: "";
    display: block;
    width: 12px;
    height: 8px;
    background-color: var(--p1);
}

.perguntas dt:after {
    content: "";
    display: block;
    width: 14px;
    height: 6px;
    background: url(../img/icones/seta-abrir.svg);
    transition: 0.3s;
}

.perguntas dt:hover::after {
    transform: rotate(180deg);
}

.perguntas dd {
    padding-left: 1.25rem;
    margin-top: 1rem;
    max-width: 80ch;
}

/* RESPONSIVO - PERGUNTAS */

@media (max-width: 1280px) {
    .perguntas h2 {
        font: var(--poppins-48b);
    }
}

@media (max-width: 960px) {
    .perguntas h2 {
        font: var(--poppins-40b);
        margin-bottom: 4rem;
    }

    .perguntas {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

@media (max-width: 720px) {
    .perguntas h2 {
        font: var(--poppins-32b);
        margin-bottom: 3rem;
    }
}
